<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App de Tarefas</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/dash.css')}}">
</head>
<body>
    <header>
        <nav>
            <h1>App de Tarefas</h1>
            <a href="{{url_for('logout')}}">Logout</a>
        </nav>
    </header>
    <main>
        <div class="text">
            <h1>Bem vindo, {{user}} <span id="randomEmoji"></span></h1>
            <h1><a href="{{url_for('stats')}}">Veja suas estatísticas aqui 🪄</a></h1>
        </div>

        <div class="week-container">
            <div class="day-card">
                <h2>Segunda-feira</h2>
                <span class="day-num"></span>
            </div>
            <div class="day-card">
                <h2>Terça-feira</h2>
                <span class="day-num"></span>
            </div>
            <div class="day-card">
                <h2>Quarta-feira</h2>
                <span class="day-num"></span>
            </div>
            <div class="day-card">
                <h2>Quinta-feira</h2>
                <span class="day-num"></span>
            </div>
            <div class="day-card">
                <h2>Sexta-feira</h2>
                <span class="day-num"></span>
            </div>
            <div class="day-card">
                <h2>Sábado</h2>
                <span class="day-num"></span>
            </div>
            <div class="day-card">
                <h2>Domingo</h2>
                <span class="day-num"></span>
            </div>
        </div>

        <div class="tasks-container">
            <div class="cards-task">
                {% for task in tasks %}
                    <div class="card-task {% if task.feito %}feito{% endif %}">
                        <h3>{{task.title}}</h3>
                        <div class="btns-task">
                            <button class="btnOpen" data-index="{{loop.index0}}">Editar</button>
                            <form method="POST" action="{{ url_for('feito') }}">
                                <input type="hidden" name="task_idx" value=" {{loop.index0}}">
                                <button type="button" class="btn-feito" data-feito="{{ task.feito|lower }}">
                                    {% if task.feito %}
                                    Desfazer
                                    {% else %}
                                    Feito
                                    {% endif %}
                                </button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="resume-day">
                <h2>Resumo de Tarefas</h2>
                <div class="circle">
                    <svg class="circle-svg" viewBox="0 0 36 36">
                        <path class="bg" d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831"/>
                        <path class="progress" d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831"
                            stroke-dasharray="{{ porcentagem }}, 100"/>
                    </svg>
                    <div class="circle-text">
                        <span>{{ feitas }}/{{ total }}</span>
                        <span>{{ porcentagem }}%</span>
                    </div>
                </div>
            </div>
            <form class="add-task" method="POST">
                <h3>Adicionar Tarefas:</h3>
                <input type="text" name="add" placeholder="Nome">
                <button>Adiconar</button>
            </form>
        </div>
    </main>

    <div id="popup" style="display: none;" class="popup">
        <div class="popup-content">
            <h3>Editar Tarefa:</h3>
            <form method="POST" action="/editar" class="trocar-nome">
                <input type="hidden" name="task-idx" id="popup-idx1">
                <input type="text" placeholder="Novo Nome" name="input-new-name">
                <button type="submit">Alterar</button>
            </form>
            <form method="POST" action="/apagar">
                <input type="hidden" name="task-idx" id="popup-idx2">
                <button type="submit" class="btn-apagar">Apagar Tarefa</button>
            </form>
            <button id="btnClose">Cancelar</button>
        </div>
    </div>

    <script src="{{url_for('static', filename='js/dash.js')}}"></script>
</body>
</html>