<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App de Tarefas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <header>
        <nav>
            <h1>App de Tarefas</h1>
            <a href="{{url_for('login')}}">Login</a>
        </nav>
    </header>
    <main>
        <div class="direita">
            <p>
                Este é um aplicativo de tarefas desenvolvido como parte do meu processo de aprendizado
                em tecnologias modernas como Flask, Docker e outros componentes do ecossistema web.<br>
                O objetivo é simples: permitir que você organize tarefas de forma prática, com uma interface limpa
                e funcional. <br>Ao mesmo tempo, cada parte do projeto serve como um estudo real de como construir, 
                versionar, conterizar e entregar aplicações web no mundo real.
            </p>
            <p class="dev">
                Olá! Me chamo Felipe, sou estudante de Engenharia de Software e estou em
                constante evolução no mundo da programação.<br>
                Tenho focado em projetos práticos que me ajudem a consolidar conhecimentos em
                backend, infraestrutura e desenvolvimento de aplicações web.<br>
                Este app é um exemplo disso: uma iniciativa pessoal para aprender com a mão na massa —
                e quem sabe ajudar outras pessoas a se organizarem melhor no processo.
            </p>
        </div>
        <div class="esquerda">
            <div class="contatos">
                <p><strong>Email:</strong><br><p class="mail">felipeabferreira22@gmail.com</p></p>
                <p><strong>GitHub:</strong><a class="git" href="https://github.com/felipeab-b" target="_blank">@felipeab-b</a></p>
                <p><strong>LinkedIn:</strong><a href="https://linkedin.com/in/felipe-avelar-819030263" target="_blank">Felipe Avelar</a></p>
            </div>
            <form action="{{url_for('login')}}" method="get">
                <button>L o g i n</button>
            </form>
        </div>
    </main>
</body>
</html>