<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Tarefas</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
</head>
<body>
    <header>
        <nav>
            <h1>App de Tarefas</h1>
            <a href="{{url_for('home')}}">Home</a>
        </nav>
    </header>
    <main>
        <div class="login-card">
            <h1>Registro</h1>
            <form method="POST">
                <p>Username:</p>
                <input type="text" name="user">
                <p class="pass">Password:</p>
                <input type="password" name="password">
                <button>Cadastre-se</button>
            </form>
            <p id="reg">Ja tem conta?<a href="{{url_for('login')}}"> Faça login aqui!</a></p>
        </div>
    </main>
</body>
</html>